@model IEnumerable<BrightBoostApplication.Models.ViewModel.StudentSignUpViewModel>

@{
    ViewData["Title"] = "Update Attendance";
}

<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto">Update Attendance</h3>
            <div class="btn-group" role="group">
                <button id="updateAtt" class="btn btn-primary" data-session-id="@ViewBag.SessionId" data-session-date="@ViewBag.AttendanceDateTime">Update</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" style="border-spacing: 0;" width="100%" id="attendance">
                            <thead>
                                <tr>
                                    <th>
                                        Student ID
                                    </th>
                                    <th>
                                        Student Name
                                    </th>
                                    <th>
                                        Attendance
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentName)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.StudentAttendanceStatus.Value)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />


<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
@section scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#attendance').DataTable();

            // Add a click event handler for the "Update" button
            $('#updateAtt').on('click', function () {
                // Get session ID and date from the button's data attributes
                var sessionId = $(this).data('session-id');
                var date = $(this).data('session-date');

                // Create an array to store student data
                var studentData = [];

                // Loop through the table rows to collect student ID and attendance status
                $('#attendance tbody tr').each(function () {
                    var studentId = $(this).find('td:first-child').text().trim();
                    var attendanceStatus = $(this).find('td:last-child input[type="checkbox"]').prop('checked');

                    studentData.push({
                        studentId: studentId,
                        attendanceStatus: attendanceStatus
                    });
                });

                updateAttendance(sessionId, date, studentData);
            });

            function updateAttendance(sessionId, date, studentData) {
                var data = {
                    sessionId: sessionId,
                    date: date,
                    studentData: studentData
                };
                $.ajax({
                    type: 'POST',
                    url: '/Attendance/Create',
                    data: data,
                    dataType: 'json',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        // Handle errors if the request fails
                    }
                });
            }
        });
        
    </script>
}
